@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins";
}

.card {
  margin: 50px 650px 50px 650px;
  background-color: #fffbe4;
  border-radius: 10px;
  border: solid black 2px;
  box-shadow: 1px 1px 3px;
  text-align: center;
}

.imagen-user {
  height: 50px;
  width: 50px;
  box-shadow: 1px 1px 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
}

.usuario {
  display: inline;
}

mat-form-field {
  width: 550px;
  font-size: 20px;
}

.titulo {
  font-size: 50px;
  text-align: center;
  margin-top: 10px;
}
